<div class="hidden lg:flex flex-row align-items-center p-2 person-container mb-2">
  <div class="p-field-radiobutton col-1">
    <p-radioButton [(ngModel)]="selectedPerson" [inputId]="person.id.toString()" [value]="person.id"
                   name="person"></p-radioButton>
  </div>
  <span class="col-1">{{person.id}}</span>
  <div class="col-3 flex flex-row align-items-center">
    <img [alt]="person.fullName" [src]="person.image" class="image-container"/>
    <span class="ml-2 person-name">{{person.fullName}}</span>
  </div>
  <span class="col-3">{{person.email}}</span>
  <span class="col-2">{{person.age}}</span>
  <span class="col-2">{{person.country}}</span>
</div>

<div class="hidden md:flex lg:hidden flex-row p-2 person-container mb-2">
  <div class="flex flex-column align-items-center">
    <span>{{person.id}}</span>
    <div class="p-field-radiobutton">
      <p-radioButton [(ngModel)]="selectedPerson" [inputId]="person.id.toString()" [value]="person.id"
                     name="person"></p-radioButton>
    </div>
  </div>
  <div class="flex flex-row align-items-center ml-2">
    <img [alt]="person.fullName" [src]="person.image" class="image-container"/>
    <div class="flex flex-row flex-wrap ml-2 align-items-center">
      <div class="col-6 flex flex-row">
        <label class="sub-title">Fullname:</label>
        <span class="ml-1 person-name">{{person.fullName}}</span>
      </div>
      <div class="col-6 flex flex-row">
        <label class="sub-title">Email:</label>
        <span class="ml-1 person-name">{{person.email}}</span>
      </div>
      <div class="col-6 flex flex-row">
        <label class="sub-title">Age:</label>
        <span class="ml-1 person-name">{{person.age}}</span>
      </div>
      <div class="col-6 flex flex-row">
        <label class="sub-title">Country:</label>
        <span class="ml-1 person-name">{{person.country}}</span>
      </div>
    </div>
  </div>
</div>

<div class="flex md:hidden flex-row p-2 person-container mb-1">
  <div class="flex flex-column align-items-center">
    <span>{{person.id}}</span>
    <div class="p-field-radiobutton">
      <p-radioButton [(ngModel)]="selectedPerson" [inputId]="person.id.toString()" [value]="person.id"
                     name="person"></p-radioButton>
    </div>
  </div>
  <div class="flex flex-row align-items-center ml-1">
    <img [alt]="person.fullName" [src]="person.image" class="image-container"/>
    <div class="flex flex-column ml-1">
      <div class="flex flex-row">
        <label class="sub-title">Fullname:</label>
        <span class="ml-1 person-name">{{person.fullName}}</span>
      </div>
      <div class="flex flex-row">
        <label class="sub-title">Email:</label>
        <span class="ml-1 person-name">{{person.email}}</span>
      </div>
      <div class="flex flex-row">
        <label class="sub-title">Age:</label>
        <span class="ml-1 person-name">{{person.age}}</span>
      </div>
      <div class="flex flex-row">
        <label class="sub-title">Country:</label>
        <span class="ml-1 person-name">{{person.country}}</span>
      </div>
    </div>
  </div>
</div>
